#gitignore
**/node_modules
**/dist
/data
/coverage
/temp
/.vscode
/yarn-error.log
/.coveralls.yml
!.gitkeep
.DS_Store
/test-storage
**/private
**/credentials.json



# source
.eslintrc.js
.DS_Store
src
tests
index.ts
package-lock.json
tsconfig.json
tsconfig.build.json
jestconfig.json
tslint.json
.prettierrc
.huskyrc.json
commitlint.config.js
lerna.json
yarn.lock
